<!DOCTYPE html>
<!-- This is the login page. -->
<html>
  <body>
    <div id="login_page_wrapper">
      <header id="login_header">
        <!-- TODO: Add ePatient logo! -->
        <img src="" alt="ePatient Logo" id="login_logo" />
      </header>
      <article>
        <div id="login_message">
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div id="login_form_pane">
          <!-- TODO: The action should change! -->
          <form action="/??" method="post">
            <input type="email" name="login_email" id="login_email_field" placeholder="Email" required />
            <input type="password" name="login_password" id="login_pass_field" placeholder="Password" required />
            <button>Login</button>
          </form> 
        </div>
      </article>
      <footer id="login_footer">
        <ul id="login_footer_credits">
          <li>©ePatient 2020</li>
          <li>Revature: Project 2</li>
          <li>Project created by: ...</li>
        </ul>
      </footer>
    </div>
  </body>
</html>